---
---

/* @import "minima"; */
@import "minima/skins/dark", "minima/initialize";

.side-nav {
  position: fixed;
  left: 20px;
  top: 120px;
  width: 200px;
  padding: 10px;
  background: #222;
  border: 1px solid #444;
  font-size: 0.9em;
  z-index: 1000;
}

.side-nav ul {
  padding-left: 18px;
}

.page-content {
  margin-left: 240px;
}
